/Test$1.class
/Test.class
/sikkel$Bikkel$Nikkel$Snikkel$Prikkel$Pickle$Klaas.class
/sikkel$Bikkel$Nikkel$Snikkel$Prikkel$Pickle.class
/sikkel$Bikkel$Nikkel$Snikkel$Prikkel.class
/sikkel$Bikkel$Nikkel$Snikkel.class
/sikkel$Bikkel$Nikkel.class
/sikkel$Bikkel.class
/sikkel.class
